.footer{
    position:sticky;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    margin-top: 370px;
    background-color: darkgray;
    color:black
}

h1{
    text-align: center;
}